html {
  font-size: 62.5%; }

body {
  background: #f9f8f6; }

header #header_in {
  padding-top: 10px;
  padding-bottom: 4px; }
  header #header_in .sp_logo {
    text-align: center;
    height: 50px; }
  header #header_in .sp_navi {
    height: 40px;
    text-align: center; }
  header #header_in .sp_navi_btn li {
    padding: 5px;
    display: inline-block;
    list-style: none; }
  header #header_in .sp_navi_li {
    width: 100%;
    position: absolute;
    top: 100px;
    right: 0;
    border: 1px solid #eee;
    background: #ff6d77;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 100;
    text-align: left; }
    header #header_in .sp_navi_li li {
      list-style: none;
      margin: 0;
      padding: 0; }
      header #header_in .sp_navi_li li a {
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none;
        color: #ffffff; }
  header #header_in .logo, header #header_in .pc_navi_li {
    display: none; }
  @media (min-width: 550px) {
    header #header_in .sp_navi, header #header_in .sp_logo {
      display: none; }
    header #header_in .logo {
      display: block;
      text-align: left; }
    header #header_in .pc_navi_li {
      display: block;
      text-align: right;
      margin: 30px 0 0; }
      header #header_in .pc_navi_li li {
        list-style: none;
        padding: 0;
        display: inline-block;
        font-size: 0;
        margin: 0 0 0 3%; } }

.container {
  font-size: 0;
  padding: 0 1rem; }

.owl-dot {
  float: left;
  height: 2px;
  margin-bottom: 0; }

.owl-theme .owl-dots .owl-dot span {
  width: 27px;
  height: 2px;
  margin: 0 7px 0 0;
  background: #869791;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #9d1a2d; }

.pc_sidebar {
  border: none;
  width: auto;
  height: 70px;
  background: #ffffff;
  margin: 0 0 10px 0; }
  .pc_sidebar .itemserch {
    padding: 9% 8% 3%;
    display: none; }

#form2 {
  background: #ffffff;
  max-width: 100%;
  margin-bottom: 20px; }

#sbox2 {
  width: 90%;
  margin: 8% 5%;
  outline: 0;
  background: #eeeeee url("../images/top/search_icon.png") no-repeat 97% center;
  border: 1px solid #eeeeee;
  height: auto;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #efefef; }

#sbtn2 {
  position: absolute;
  margin-top: 6%;
  right: 42px;
  color: #b0b0b0;
  border: none;
  padding: 0;
  background: #eeeeee;
  top: auto;
  height: 0; }

#new_items, #popular, #title_guide_pc {
  display: none; }

#page-link h4 {
  margin-bottom: 0;
  margin-top: 20px;
  width: 94%;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 13px 0 13px 15px;
  border: 1px solid #887f69;
  background: #887f69 url("../images/top/next_icon.png") no-repeat 95% center; }
  #page-link h4.openlink {
    background-image: url("../images/top/down_icon.png"); }
#page-link ul {
  display: none; }
  #page-link ul li {
    list-style: none;
    padding: 13px 15px;
    font-size: 13px;
    font-size: 1.3rem;
    width: 100%;
    margin-bottom: 1px;
    box-sizing: border-box;
    background: #ffffff url("../images/top/next_icon_gray.png") no-repeat 95% center; }
    #page-link ul li a {
      text-decoration: none;
      color: #000000; }

#categories-link .categories {
  margin-bottom: 0;
  margin-top: 10px;
  width: 94%;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 13px 0 13px 15px;
  border: 1px solid #887f69;
  background: #887f69 url("../images/top/next_icon.png") no-repeat 95% center; }
  #categories-link .categories.openlink {
    background-image: url("../images/top/down_icon.png"); }
#categories-link ul {
  margin-bottom: 1rem;
  top: 157px;
  width: 100%;
  display: none;
  z-index: 100; }
  #categories-link ul li {
    list-style: none;
    padding: 13px 15px;
    font-size: 13px;
    font-size: 1.3rem;
    width: 100%;
    margin-bottom: 1px;
    box-sizing: border-box;
    background: #ffffff url("../images/top/next_icon_gray.png") no-repeat 95% center; }
    #categories-link ul li a {
      text-decoration: none;
      color: #000000; }

#about, #shopinfo {
  background: #ffffff;
  line-height: normal; }
  #about h4, #shopinfo h4 {
    padding: 13px 0 13px 15px;
    width: 100%;
    font-size: 15px;
    font-size: 1.5rem;
    background: #887f69;
    border: 1px solid #887f69;
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-top: 1rem; }

.contents {
  height: 105px;
  width: 100%; }
  .contents #about_img, .contents #shopinfo_img {
    width: 100%; }

.text-center {
  text-align: left;
  margin-bottom: 1.5rem; }

.flexbox {
  display: flex; }

.box1 {
  width: 50%;
  margin-left: 3%; }

.box2 {
  width: 50%;
  margin: auto 3%; }
  .box2 p {
    background: url("../images/top/more_btn.png") no-repeat center 90%;
    font-size: 11px;
    font-size: 1.1rem;
    height: 117px; }

.new_items_title {
  margin-top: 7%; }
  .new_items_title h4 {
    text-align: center;
    margin-bottom: 1rem; }

.flex {
  display: block;
  text-align: left; }
  .flex h6 {
    color: #887f69;
    font-weight: bold;
    padding: 4%;
    padding-left: 6%;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 2; }
  .flex img {
    margin-left: 5%;
    width: 90%; }
  .flex p {
    font-size: 12px;
    font-size: 1.2rem;
    margin-left: 5%;
    margin-bottom: 0; }
    .flex p span {
      font-size: 20px;
      font-size: 2rem; }
  .flex .brown {
    color: #887f69;
    font-weight: bold;
    text-align: left;
    padding-bottom: 0; }

.otodoke {
  width: 100%;
  background: #ffffff;
  margin-bottom: 3%;
  height: 230px; }
  .otodoke img {
    width: 60%;
    margin-top: 3%; }

.kessai {
  width: 100%;
  background: #ffffff;
  margin-bottom: 5%;
  height: 260px; }

.popularitems, .shopingguide {
  margin-top: 3%; }
  .popularitems h4, .shopingguide h4 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1.5rem; }

.f-container {
  display: flex;
  flex-wrap: wrap; }
  .f-container .f-item {
    width: 49%;
    background: #ffffff;
    margin: 0.5%;
    height: 220px;
    line-height: 1.3; }
    .f-container .f-item img {
      width: 100%;
      padding: 5% 5% 0;
      box-sizing: border-box; }
    .f-container .f-item p {
      padding: 3% 5%;
      font-size: 11px;
      font-size: 1.1rem;
      margin-bottom: 9%;
      letter-spacing: .4px; }

.place {
  background: #e8e4da; }
  .place p {
    color: #887f69;
    padding: .8rem 1rem;
    margin-bottom: 1rem;
    font-size: 11px;
    font-size: 1.1rem; }

.cate_image img {
  width: 100%; }

.newitems2 {
  margin-top: 1rem; }

button {
  border-radius: 0;
  background: #887f69;
  color: #ffffff;
  padding: 0 40px;
  font-size: 13px;
  font-size: 1.3rem; }

.btnleft {
  text-align: left;
  float: left;
  margin-top: 3rem; }

.btnright {
  text-align: right;
  margin-top: 3rem;
  width: 97%; }

.recent_title {
  text-align: center;
  margin: 6%; }

.recent_pc {
  display: none; }

@media (min-width: 550px) {
  .pc_sidebar {
    height: 92px; }

  .f-container .f-item p {
    font-size: 1.2rem;
    letter-spacing: .5px; }

  .f-container .f-item img {
    padding: 6% 6% 4% 6%; }

  .btnright {
    width: 100%; }

  #sbox2 {
    margin: 3% 8% 3% 8%;
    width: 84%;
    padding: 0 10px;
    height: 29px;
    margin-bottom: 0; }

  #sbtn2 {
    margin: 0;
    right: 25px;
    height: auto;
    height: 0;
    top: 40px; }

  #page-link h4 {
    width: 100%;
    font-size: 1.5rem;
    padding: 13px 15px;
    border: 1px solid #887f69;
    box-sizing: border-box; }

  #page-link ul {
    display: none; }

  #categories-link .categories {
    padding: 13px 15px;
    width: 100%;
    font-size: 1.5rem;
    border: 1px solid #887f69;
    box-sizing: border-box; }

  #about, #shopinfo {
    height: 310px; }

  #categories-link ul {
    display: none; }
    #categories-link ul li {
      padding: 13px 15px; }

  .flexbox {
    display: block; }

  .flexbox .box1 {
    width: 100%;
    margin: 0 auto; }

  .flexbox .box2 {
    width: 100%;
    margin: 3% auto; }
    .flexbox .box2 p {
      font-size: 12px;
      font-size: 1.2rem;
      height: 120px; }

  #about h4, #shopinfo h4 {
    padding: 13px 15px; }

  #about .contents, #shopinfo .contents {
    width: 90%;
    margin: 5%;
    height: auto; }
    #about .contents .more, #shopinfo .contents .more {
      padding: 0 23%; }

  .new_items_title h4, .popularitems h4, .shopingguide h4 {
    text-align: center;
    margin-bottom: 3rem; }

  #title_new_item, #title_popular, #title_guide_sp {
    display: none; }

  #new_items, #title_popular {
    width: 100%;
    margin: 0 .5% .5% 0; }

  .f-container .f-item {
    width: 33%;
    height: auto;
    margin: auto;
    margin-bottom: .3%; }

  #popular, #title_guide_pc {
    margin-top: 5%; }

  #new_items, #popular, #title_guide_pc {
    display: block;
    width: 100%; }

  #sidebar .itemserch {
    display: block; }

  .flex {
    display: flex;
    line-height: 1.5rem;
    align-items: baseline; }
    .flex p {
      margin-left: 5%;
      margin-bottom: 3px; }

  .otodoke {
    width: 50%;
    line-height: 20px;
    height: auto;
    padding-bottom: 50px; }

  .kessai {
    width: 50%;
    margin-left: 0.7%;
    height: auto;
    line-height: 2rem;
    padding-bottom: 3rem; }

  .flex .brown {
    padding-bottom: 0; }

  .recent_sp {
    display: none; }

  .recent_pc {
    display: block;
    width: 100%; }

  .place p {
    padding: .7rem 1rem;
    font-size: 1.3rem; } }
.products_sp {
  background: #ffffff;
  font-size: 1px;
  font-size: 0.1rem;
  line-height: 1;
  padding-bottom: 7%;
  margin: 0 calc(50% - 50vw); }
  .products_sp h6 {
    font-weight: bold;
    letter-spacing: .2rem;
    padding: 3% 3% 0;
    margin-bottom: 0;
    font-size: 14px;
    font-size: 1.4rem; }
  .products_sp .gray {
    color: #a6a6a6;
    margin-bottom: 5%;
    margin-left: 3%; }
  .products_sp #list_img {
    margin: 3%;
    width: 100%; }
  .products_sp hr {
    margin: 3%; }
  .products_sp .color {
    float: left;
    margin: 3% 3% 5%; }
  .products_sp #display_img {
    margin: 0 3%; }
    .products_sp #display_img img {
      width: 100%; }
  .products_sp #list_img li {
    list-style: none;
    display: inline-block;
    margin: 0;
    width: 18%; }
  .products_sp #list_img li img {
    width: 100%;
    cursor: pointer; }
  .products_sp .tbl {
    width: 94%;
    margin: 3% 3% 5% 3%; }
    .products_sp .tbl th {
      background: #f9f9f5;
      color: #887f69;
      border: solid 1px #e8e4da;
      font-size: 12px;
      font-size: 1.2rem;
      text-align: center;
      width: 33%;
      height: 3.7rem;
      font-weight: normal;
      padding: 0; }
    .products_sp .tbl td {
      border: solid 1px #e8e4da;
      text-align: center;
      padding: 0;
      margin: 0; }
    .products_sp .tbl tr {
      padding: 0; }
    .products_sp .tbl label {
      margin: 0;
      color: #887f69;
      display: inline-block; }
      .products_sp .tbl label input {
        margin: 0; }
  .products_sp .f {
    display: flexbox; }
  .products_sp .price img {
    float: left;
    margin: 3%; }
  .products_sp .price p {
    text-align: center;
    margin: 7% 0;
    font-size: 1.5rem;
    font-style: italic; }
    .products_sp .price p span {
      font-size: 2.5rem;
      color: #ff6d77; }
  .products_sp .quantity {
    text-align: center;
    margin: 5% 0; }
    .products_sp .quantity img {
      float: left;
      margin: 3%; }
    .products_sp .quantity input {
      height: 4rem;
      width: 14rem;
      border: 1px solid #e8e4da;
      margin-bottom: 0; }
  .products_sp .cart {
    text-align: center;
    margin: 5% 0 8%; }
  .products_sp .description h6 {
    color: #887f69;
    padding-top: 0;
    letter-spacing: normal;
    line-height: 1.2;
    margin: 4% 0;
    font-size: 16px;
    font-size: 1.6rem; }
    .products_sp .description h6 span {
      font-size: 25px;
      font-size: 2.5rem; }
  .products_sp .description hr {
    border: 1px solid #887f69;
    margin-bottom: 0; }
  .products_sp .description p {
    margin: 5% 3%;
    font-size: 15px;
    line-height: 1.4; }
  .products_sp .description table {
    margin: 3%;
    width: 94%; }
    .products_sp .description table th {
      background: #f9f9f5;
      color: #887f69;
      border: solid 1px #e8e4da;
      font-size: 1.2rem;
      text-align: center;
      width: 33%;
      height: 3rem;
      font-weight: normal;
      padding: 0; }
    .products_sp .description table td {
      border: solid 1px #e8e4da;
      padding: 10px;
      margin: 0;
      color: #887f69;
      font-size: 12px;
      font-size: 1.2rem;
      height: 3.5rem; }
  .products_sp hr.width {
    display: none; }

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box; }

footer {
  width: 100%;
  background: #f9f8f6;
  color: #b0b0b0;
  text-align: center;
  font-size: 11px;
  font-size: 1.1rem;
  margin-top: 1rem; }
  footer p {
    font-size: 1.1rem;
    margin-top: 3%; }
  footer hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #b0b0b0;
    margin-bottom: 7%; }
  footer ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    margin-bottom: 0; }
    footer ul li {
      display: inline;
      font-size: 12px;
      font-size: 1.2rem; }
      footer ul li a {
        color: #000000;
        padding-left: 5px;
        text-decoration: none;
        font-size: 1.2rem; }

@media (min-width: 550px) {
  .img_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3%; }
    .img_wrap #display_img {
      margin: 0;
      width: 70%; }
    .img_wrap #list_img {
      margin: 0;
      width: 28%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .img_wrap #list_img li {
        width: 49%; }

  .products_sp {
    background: #ffffff;
    font-size: 1rem;
    line-height: 1;
    padding: 5% 10% 10%;
    margin: 0; }
    .products_sp hr {
      margin: 3% 0 0;
      border-top: 1px solid #e8e4da; }
    .products_sp h6 {
      font-weight: bold;
      letter-spacing: .2rem;
      padding: 0;
      display: inline-block; }
    .products_sp .gray {
      color: #a6a6a6;
      display: inline-block;
      float: right;
      padding-top: 2%;
      margin-bottom: .7rem; }
    .products_sp .color {
      margin: 3% 0;
      float: left; }
    .products_sp .tbl {
      width: 100%;
      margin: 0; }
    .products_sp .price img {
      float: left;
      margin: 2% 0; }
    .products_sp .quantity img {
      margin: 5% 0; }
    .products_sp .f {
      display: flex;
      margin-top: 1rem; }
      .products_sp .f .fb1 {
        width: 50%; }
      .products_sp .f .fb2 {
        width: 50%; }
      .products_sp .f .cart {
        text-align: right; }
    .products_sp hr.width {
      display: block;
      margin-top: 0; }
    .products_sp .description h6 {
      margin-bottom: 0; }
    .products_sp .description hr {
      margin-top: 3%; }
    .products_sp .description p {
      margin: 4% 0;
      font-size: 1.4rem;
      line-height: 1.8; }
    .products_sp .description table {
      margin: 0;
      width: 100%; }
      .products_sp .description table td {
        height: 1.8rem; }

  .recent_title {
    margin: 3% 0 0; }

  .popularitems {
    margin-top: 4%; }

  .right {
    text-align: right;
    margin-top: 4rem;
    margin-top: 0; }

  .footer_menu li {
    font-size: 14px;
    font-size: 1.4rem; }

  footer hr {
    margin-bottom: 3.5rem; }

  footer p {
    margin-top: 2%; } }

/*# sourceMappingURL=style.css.map */
